MarkupSafe==3.0.2
asgiref==3.8.1
bcrypt==4.2.0
blinker==1.8.2
cachelib==0.13.0
click==8.1.7
colorama==0.4.6
Django==5.1.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.1.1
inflect==7.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonify==0.5
more-itertools==10.5.0
PyMySQL==1.1.1
setuptools==75.1.0
sqlacodegen==3.0.0rc1  # Versão mais recente e compatível
SQLAlchemy>=2.0.16,<3.0.0
sqlparse==0.5.1
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2024.2
Werkzeug==3.0.4
WTForms==3.1.2
waitress==2.1.2
Flask-Migrate==4.0.4
gunicorn==23.0.0
flask-cors==5.0.1
