 
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #FFD700;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #444;
    color: #FFD700;
    text-align: center;
    padding: 10px 0;
}
main {
    display: flex;
    padding: 20px;
}
form {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    margin-right: 20px;
}
form input, form select, form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
form button  {
    background-color: #FFD700;
    color: #222;
    font-weight: bold;
    cursor: pointer;
}
form button:hover{
    background-color: #494949;
    color: #FFD700;
}
.resumo {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}
.resumo h3 {
    margin-top: 0;
} 
#deletebtn{
    background-color: rgba(255, 0, 0, 0.664);
}
#qtdeinput{
    max-width: 580px;
}
.filtro-form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filtro-form label {
    font-weight: bold;
    color: #222;
}

.filtro-form input {
    padding: 5px;
    border: 1px solid #FFD700;
    border-radius: 4px;
}

.caixa-total {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #FFD700;
    font-weight: bold;
}

.filtro-form .btn {
    background-color: #FFD700;
    color: #222;
    font-weight: bold;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.filtro-form .btn:hover {
    background-color: #333;
    color: #FFD700;
}
