 
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #FFD700;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #444;
    color: #FFD700;
    text-align: center;
    padding: 10px 0;
}
main {
    display: flex;
    padding: 20px; 
}
form {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    margin-right: 20px;
     
    max-height: 400px; /* Defina a altura máxima desejada */
    overflow-y: auto; 
    padding: 30px;
 
}
form input, form select, form button {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
#qtdeinput{
    margin-left: 5px;
}
#deletebtn{
    margin-left: 10px;
}
#prdform{
    width: 217px; 
}
form button  {
    background-color: #FFD700;
    color: #222;
    font-weight: bold;
    cursor: pointer;
}
form button:hover{
    background-color: #494949;
    color: #FFD700;
}
.resumo {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}
.resumo h3 {
    margin-top: 0;
} 
#deletebtn{
    background-color: rgba(255, 0, 0, 0.664);
}
#qtdeinput{
    max-width: 580px;
}
.produtonovo{
    width: 550px;
}
