<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/pedidos/cadastrar_pedidos.js') }}"></script>
    

    <title>Cadastrar Pedido</title>
 
</head>
<body>
    <header>
        <h1>Cadastrar Pedido</h1>
    </header>
    <main>
        <form method="POST" action="/cadastro_pedido">
            <label for="cliente_nome">Nome do Cliente:</label><br>
            <input type="text" id="cliente_nome" name="cliente_nome" required><br>
            <label for="observacao">Observação:</label><br>
            <input type="text" id="observacao" name="observacao" required><br>

            <label for="produto">Adicionar Produtos:</label>
            <div id="itens">
                <div class="produto-item">
                    <select name="itens[0][produto]" onchange="updateResumo()" required>
                        {% for produto in produtos %}
                        <option value="{{ produto.id }}" data-valor="{{ produto.valor }}">{{ produto.nome }} - R$ {{ produto.valor }}</option>
                        {% endfor %}
                    </select> 
                    <input id="" type="number" name="itens[0][quantidade]" min="1" placeholder="Quantidade" oninput="updateResumo()" required> 
                    <button type="button" id="deletebtn" onclick="removeProduto(this)">Remover</button>
                </div>
            </div>
            <button type="button" onclick="addProduto()">Adicionar Outro Produto</button>
            
            <button type="submit">Cadastrar Pedido</button>
        </form>
        <div class="resumo">
            <h3>Resumo do Pedido</h3>
            <p>Nome do Cliente: <span id="resumo-cliente">-</span></p>
            <ul id="resumo-itens">
                <li>Nenhum item adicionado ainda</li>
            </ul>
            <p>Total: R$ <span id="resumo-total">0.00</span></p>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 - Meireles lanchonete</p>
    </footer>
    <script src="{{ url_for('static', filename='js/pedidos/cadastrar_pedidos.js') }}"></script>
    <script>
        const produtos = JSON.parse('{{ produtos | tojson }}');   
    </script>    
</body>
</html>
