[data-theme="dark"]{
    --bg: #17181d;
    --bg-2:#20202a;
    --bg-reverse: #302323;
    --text:#db9225;
    --text-reverse: #3d3d3d;
    --primary: #F2DDBB;
    --secondary: #007526;
    --accent: #258ddb;
    --highlight: #F97E20;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav,search{
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 5px 0 0 5px ;
    display: flex;
    background: var(--primary);
}
nav{
    top: 60px;
    justify-content: end;
}
nav>img{
    margin-right: 10px;
    width: 30px;
}
main{
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    background: var(--bg);
    border-radius: 5px;
}
menu{
    background: #96969628;
    color: var(--text);
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    width: calc(100vw - 110px);
    height: calc(100vh - 140px);
}
.productCard{
    margin: 10px;
    width: 100px;
    height: 150px;
    background: var(--secondary);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}
.productImage{
    width: 80px;
}
.add2OrderBtn{
    border: none;
    width: 40px;
    height: 20px;
    background: var(--highlight);
    color: var(--primary);
}
#ordersBtn{
    position: absolute;
    right: 15px;
    bottom: 120px;
    width: 40px;
    height: 40px;
    background: var(--accent);
    border-radius: 5px;
    border: none;
}
#ordersBtn>img{
    width: 24px;
    filter: invert();
    transform: rotate(-15deg);
}
#ordersBtn>sub{
    position: absolute;
    right: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    background: red;
    color: aliceblue;
    border-radius: 50%;
    line-height: 20px;
}
search{
    bottom: 60px;
    border: none;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}
search>img{
    width: 32px;
}
#searchIcon{
    margin: 0 10px;
    width: 32px;
}
search>input{
    width: 100%;
    height: 30px;
    margin: 0 10px;
}
#clearFilter{
    margin: 0 10px;
}