{% extends './base.html' %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="cadastro-container">
    <h1>Cadastro</h1>
    <form method="post" action="{{ url_for('cadastro') }}" class="cadastro-form">
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Cadastrar</button>
    </form>
</div>
{% endblock %}
