<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pedido</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/pedidos/editar_pedidos.js') }}"></script>

</head>
<body>
    <header>
        <h1>Editar Pedido</h1>
    </header>
    <main>
        <form method="POST" action="/editar_pedido/{{ pedido.id }}">
            <div id="rolagem">
                <label for="cliente_nome">Nome do Cliente:</label><br>
                <input type="text" id="cliente_nome" name="cliente_nome" value="{{ pedido.cliente_nome }}" required><br>
                
                <label for="produto">Editar Produtos:</label>
                <div id="itens">
                    {% for item in pedido_itens %}
                    <div class="produto-item">
                        <select  name="itens[{{ loop.index0 }}][produto]" onchange="updateResumo()" required>
                            {% for produto in produtos %}
                            <option value="{{ produto.id }}" {% if produto.id == item.produto_id %}selected{% endif %} 
                                data-valor="{{ produto.valor }}">
                                {{ produto.nome }} - R$ {{ produto.valor }}
                            </option>
                            {% endfor %}
                        </select>
                        <input id="" type="number" name="itens[{{ loop.index0 }}][quantidade]" min="1" value="{{ item.quantidade }}" 
                            oninput="updateResumo()" required>
                        <button id="deletebtn" type="button" onclick="removeProduto(this)">Remover</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button type="button" onclick="addProduto()">Adicionar Outro Produto</button>

            <button type="submit">Salvar Alterações</button>
        </form>
        <div class="resumo">
            <h3>Resumo do Pedido</h3>
            <p>Nome do Cliente: <span id="resumo-cliente">{{ pedido.cliente_nome }}</span></p>
            <ul id="resumo-itens">
                {% for item in pedido_itens %}
                <li>{{ item.quantidade }}x {{ item.produto.nome }} - R$ {{ (item.produto.valor * item.quantidade) | round(2) }}</li>
                {% endfor %}
            </ul>
            <p>Total: R$ <span id="resumo-total">
                {{ pedido_itens | sum(attribute='subtotal') | round(2) }}
            </span></p>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 - Meireles lanchonete</p>
    </footer>
    <script>
        const produtos = JSON.parse('{{ produtos | tojson }}');   
    </script>
</body>
</html>
