{% extends './base.html' %}
 
{% block content %}

<body>
    <div class="cadastro-container">
        <h1 class="mt-5">Editar Usuário</h1>
        <form method="POST" class="cadastro-form">
                <input type="text" class="form-control" id="nome" name="nome"  placeholder="Nome"value="{{ usuario.nome }}" required>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ usuario.email }}" required>
            <button type="submit"  >Salvar</button>
            <a href="{{ url_for('listar_usuarios') }}" class="btneditar">Cancelar</a>
        </form>
    </div>

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
