<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_listagem.css') }}">
    <script src="{{ url_for('static', filename='js/pedidos/listar_pedidos.js') }}"></script>
    <link rel="shortcut icon" href="./favicon.ico">
    <title>Listar Pedidos</title>
    
    <style>
    
    </style>
</head>
<body>
    <header>
        <h1>Lista de Pedidos</h1>
    </header>
    <main>
        <form method="GET" action="{{ url_for('listar_pedidos') }}" class="filtro-form">
            <label for="data_inicio">Data Início:</label>
            <input type="date" id="data_inicio" name="data_inicio" value="{{ request.args.get('data_inicio', '') }}">
            
            <label for="data_fim">Data Fim:</label>
            <input type="date" id="data_fim" name="data_fim" value="{{ request.args.get('data_fim', '') }}">
            
            <button type="submit" class="btn">Filtrar</button>
        </form>
        
        <div class="caixa-total">
            <strong>Total do Caixa:</strong> R$ {{ valor_caixa | round(2) }}
        </div>    
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Valor Total (R$)</th>
                    <th>Criado em</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.cliente_nome }}</td>
                    <td>{{ pedido.valor_total | round(2) }}</td>
                    <td>{{ pedido.criado_em }}</td>
                    <td>
                        <a href="{{ url_for('editar_pedido', id=pedido.id) }}" class="btn">Editar</a>
                        <a href="{{ url_for('deletar_pedido', id=pedido.id) }}" class="btn btn-delete" onclick="return confirm('Tem certeza que deseja deletar este pedido?')">Deletar</a>
                        <a class="btn" onclick="abrirModal('{{ pedido.id }}')">Ver Produtos</a>
                        <a href="{{ url_for('gerar_cupom', id=pedido.id) }}" class="btn">Gerar cupom</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">Nenhum pedido encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('cadastro_pedido') }}" class="btn">Cadastrar Novo Pedido</a>
    </main>

    <!-- Modal -->
    <div id="detalhesModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModal()">&times;</span>
            <h3>Detalhes do Pedido</h3>
            <div id="detalhesPedido">
                <!-- Os detalhes do pedido serão carregados aqui -->
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 - Meireles lanchonete</p>
    </footer>

    <script>

    </script>
</body>
</html>
