{% extends './base.html' %}

{% block title %}Usuários{% endblock %}

{% block content %}
<div class="usuarios-container">
    <h1>pedidos</h1>
    <ul class="usuarios-list">
        {% for pedido in pedidos %}
            <li class="usuario-item">
                <span class="itemlist">{{ pedido.cliente_nome }} </span>
                <span class="itemlist">{{ pedido.valor_total }} </span>
                
                <!-- Checkbox com ID único para cada pedido -->
                <input type="checkbox" id="expandir-{{ pedido.id }}" class="expandir-checkbox">
                
                <!-- Botão de detalhes que controla o checkbox -->
                <label for="expandir-{{ pedido.id }}" class="detalhes-button">Detalhes</label>
                
                <div class="modal-expandido">
                    <label for="expandir-{{ pedido.id }}" class="fechar-modal">&times;</label>
                    <h4>Cliente: {{ pedido.cliente_nome }}</h4>
                    <p> Valor do pedido: {{ pedido.valor_total }}</p>
                    <p><strong>Data de criação:</strong> {{ pedido.criado_em }}</p>
                </div>

                <div style="display: inline-flex; gap: 350px;">
                    <a href="{{ url_for('editar_pedido', id=pedido.id) }}" class="editar-link">Editar</a>
                </div>
                <div style="display: inline-flex; gap: 350px;">
                    <a href="{{ url_for('deletar_pedido', id=pedido.id) }}" class="excluir-button">Excluir</a>
                </div>
            </li>
        {% endfor %}

    </ul>
</div>

<style>
    /* Estilos para o modal de expansão */
    .expandir-checkbox {
        display: none;
    }

    .detalhes-button {
        cursor: pointer;
        color: #007bff;
        text-decoration: underline;
    }

    /* Estilo modal expandido */
    .modal-expandido {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 500px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        z-index: 1000;
    }

    /* Exibir modal quando checkbox estiver marcado */
    .expandir-checkbox:checked + .detalhes-button + .modal-expandido {
        display: block;
    }

    /* Botão de fechar no modal */
    .fechar-modal {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        color: #aaaaaac5;
        text-decoration: none;
        cursor: pointer;
    }

    .fechar-modal:hover {
        color: black;
    }
</style>
{% endblock %}
